﻿@model SimplexCardPortal.ViewModel.OperatorBranch.EditOperatorBranchViewModel


          <div class="modal-dialog">
                                                
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar operadora</h4>
              </div>

           <form action="/Settings/EditBranchOperator" method="post" class="form-horizontal">         
                   @Html.HiddenFor(model => model.OperatorBranchId)
              <div class="box-body">
                <div class="form-group">
                  <label for="operatorId" class="col-sm-2 control-label">Operadora</label>
                  <div class="col-sm-10">
                      @Html.TextBoxFor(model => model.OperatorName,new{@class="form-control", @disabled= "disabled"})
                  </div>
                </div>
                   <div class="form-group">
                  <label for="operatorUserName" class="col-sm-2 control-label">Usuário</label>
                  <div class="col-sm-10">
						@Html.TextBoxFor(model => model.UserName,new{@class="form-control", placeholder="Usuário", @required ="required"})
                  </div>
                </div>
                 <div class="form-group">
                  <label for="operatorPassword" class="col-sm-2 control-label">Senha</label>
                  <div class="col-sm-10">
						@Html.TextBoxFor(model => model.Password,new{@class="form-control", placeholder="Senha", @type="password"})
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-info pull-right">Salvar</button>
              </div>
                                

           </form>
                                    
            </div>
                        
          </div>
  
