﻿    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="~/favicon.ico">


    <environment names="Development">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Pace style -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/pace/pace.css">
        <!-- Ion Slider -->
        <link rel="stylesheet" href="~/lib/ion.rangeSlider/css/ion.rangeSlider.css">
        <!-- ion slider Nice -->
        <link rel="stylesheet" href="~/lib/ion.rangeSlider/css/ion.rangeSlider.skinNice.css">
        <!-- bootstrap slider -->
        <link rel="stylesheet" href="~/lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
        <!-- iCheck for checkboxes and radio inputs -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/iCheck/all.css">
        <!-- Bootstrap Color Picker -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/colorpicker/bootstrap-colorpicker.min.css">
        <!-- Bootstrap time Picker -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/timepicker/bootstrap-timepicker.min.css">
        <!-- Select2 -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/select2/select2.min.css">
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.css">
        <!-- fullCalendar 2.2.5-->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/fullcalendar/fullcalendar.min.css">
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/fullcalendar/fullcalendar.print.css" media="print">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/dist/css/skins/_all-skins.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/iCheck/flat/blue.css">
        <!-- Morris chart -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/morris/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
        <!-- Date Picker -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/datepicker/datepicker3.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/daterangepicker/daterangepicker.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- General style sheets -->
        <link rel="stylesheet" href="~/css/site.min.css">

        <!-- Core CSS file -->
        <link rel="stylesheet" href="~/lib/photoswipe/dist/photoswipe.css">

        <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
         In the folder of skin CSS file there are also:
         - .png and .svg icons sprite,
         - preloader.gif (for browsers that do not support CSS animations) -->
        <link rel="stylesheet" href="~/lib/photoswipe/dist/default-skin/default-skin.css">

    </environment>
    <environment names="Staging,Production">
        <!-- Put your production and staging css here. -->
        <!-- Todo: Package all possible css into one file ->

        <!-- Bootstrap 3.3.6 -->
        @*<link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/bootstrap/css/bootstrap.min.css">*@
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Pace style -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/pace/pace.min.css">
        <!-- Ion Slider -->
        <link rel="stylesheet" href="~/lib/ion.rangeSlider/css/ion.rangeSlider.css">
        <!-- ion slider Nice -->
        <link rel="stylesheet" href="~/lib/ion.rangeSlider/css/ion.rangeSlider.skinNice.css">
        <!-- bootstrap slider -->
        <link rel="stylesheet" href="~/lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
        <!-- iCheck for checkboxes and radio inputs -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/iCheck/all.css">
        <!-- Bootstrap Color Picker -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/colorpicker/bootstrap-colorpicker.min.css">
        <!-- Bootstrap time Picker -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/timepicker/bootstrap-timepicker.min.css">
        <!-- Select2 -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/select2/select2.min.css">
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.css">
        <!-- fullCalendar 2.2.5-->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/fullcalendar/fullcalendar.min.css">
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/fullcalendar/fullcalendar.print.css" media="print">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/dist/css/skins/_all-skins.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/iCheck/flat/blue.css">
        <!-- Morris chart -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/morris/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
        <!-- Date Picker -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/datepicker/datepicker3.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/daterangepicker/daterangepicker.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="~/lib/AdminLTE-2.3.11/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- General style sheets -->
        <link rel="stylesheet" href="~/css/site.min.css">

        <!-- Core CSS file -->
        <link rel="stylesheet" href="~/lib/photoswipe/dist/photoswipe.css">

        <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
        In the folder of skin CSS file there are also:
        - .png and .svg icons sprite,
        - preloader.gif (for browsers that do not support CSS animations) -->
        <link rel="stylesheet" href="~/lib/photoswipe/dist/default-skin/default-skin.css">
    </environment>




    <!-- ./wrapper -->
    <environment names="Development">
        <!-- jQuery 2.2.3 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>

        <!-- PACE -->
        <script data-pace-options='{ "ajax": false }' src="~/lib/AdminLTE-2.3.11/plugins/pace/pace.min.js"></script>

        <!-- Bootstrap 3.3.6 -->
        <script src="~/lib/AdminLTE-2.3.11/bootstrap/js/bootstrap.min.js"></script>
        <!-- Morris.js charts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/morris/morris.min.js"></script>
        <!-- Sparkline -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/sparkline/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/knob/jquery.knob.js"></script>
        <!-- Select2 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/select2/select2.full.min.js"></script>
        <!-- InputMask -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/input-mask/jquery.inputmask.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/input-mask/jquery.inputmask.extensions.js"></script>
        <!-- daterangepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap color picker -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
        <!-- bootstrap time picker -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/timepicker/bootstrap-timepicker.min.js"></script>
        <!-- datepicker -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/datepicker/bootstrap-datepicker.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Slimscroll -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- iCheck 1.0.1 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/iCheck/icheck.min.js"></script>
        <!-- FastClick -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/fastclick/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="~/lib/AdminLTE-2.3.11/dist/js/app.js"></script> <!-- removed min-->
        <!-- ChartJS 1.0.1 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/chartjs/Chart.min.js"></script>

        <!-- DataTables -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.min.js"></script>

        <!-- AdminLTE for demo purposes -->
        <script src="~/lib/AdminLTE-2.3.11/dist/js/demo.js"></script>

        <!-- CK Editor -->
        <script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>

        <!-- Ion Slider -->
        <script src="~/lib/ion.rangeSlider/js/ion.rangeSlider.js"></script>

        <!-- Bootstrap slider -->
        <script src="~/lib/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>

        <!-- FLOT CHARTS -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/flot/jquery.flot.min.js"></script>
        <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/flot/jquery.flot.resize.min.js"></script>
        <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/flot/jquery.flot.pie.min.js"></script>
        <!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/flot/jquery.flot.categories.min.js"></script>

        <!-- fullCalendar 2.2.5 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/fullcalendar/fullcalendar.min.js"></script>

        <!-- Core JS file -->
        <script src="~/lib/photoswipe/dist/photoswipe.min.js"></script>

        <!-- UI JS file -->
        <script src="~/lib/photoswipe/dist/photoswipe-ui-default.min.js"></script>

        @*<script>

                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

                var disqus_config = function () {
                    this.page.url = 'https://frodriguez.xyz';  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = 'adminLTE_Layout'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//frodriguez-xyz.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>*@

    </environment>
    <environment names="Staging,Production">
        <!-- jQuery 2.2.3 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>

        <!-- PACE -->
        <script data-pace-options='{ "ajax": false }' src="~/lib/AdminLTE-2.3.11/plugins/pace/pace.js"></script>

        <!-- Bootstrap 3.3.6 -->
        @*<script src="~/lib/AdminLTE-2.3.11/bootstrap/js/bootstrap.min.js"></script>*@
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Morris.js charts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/morris/morris.min.js"></script>
        <!-- Sparkline -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/sparkline/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/knob/jquery.knob.js"></script>
        <!-- Select2 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/select2/select2.full.min.js"></script>
        <!-- InputMask -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/input-mask/jquery.inputmask.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/input-mask/jquery.inputmask.extensions.js"></script>
        <!-- daterangepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap color picker -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
        <!-- bootstrap time picker -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/timepicker/bootstrap-timepicker.min.js"></script>
        <!-- datepicker -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/datepicker/bootstrap-datepicker.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Slimscroll -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- iCheck 1.0.1 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/iCheck/icheck.min.js"></script>
        <!-- FastClick -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/fastclick/fastclick.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/lib/AdminLTE-2.3.11/dist/js/app.min.js"></script> <!-- removed min-->
        <!-- ChartJS 1.0.1 -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/chartjs/Chart.min.js"></script>

        <!-- DataTables -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/datatables/dataTables.bootstrap.min.js"></script>

        <!-- AdminLTE for demo purposes -->
        <script src="~/lib/AdminLTE-2.3.11/dist/js/demo.js"></script>

        <!-- CK Editor -->
        <script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>


        <!-- Ion Slider -->
        <script src="~/lib/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

        <!-- Bootstrap slider -->
        <script src="~/lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>

        <!-- FLOT CHARTS -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/flot/jquery.flot.min.js"></script>
        <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/flot/jquery.flot.resize.min.js"></script>
        <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/flot/jquery.flot.pie.min.js"></script>
        <!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
        <script src="~/lib/AdminLTE-2.3.11/plugins/flot/jquery.flot.categories.min.js"></script>

        <!-- fullCalendar 2.2.5 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
        <script src="~/lib/AdminLTE-2.3.11/plugins/fullcalendar/fullcalendar.min.js"></script>

        <!-- Core JS file -->
        <script src="~/lib/photoswipe/dist/photoswipe.min.js"></script>

        <!-- UI JS file -->
        <script src="~/lib/photoswipe/dist/photoswipe-ui-default.min.js"></script>



    </environment>



    @RenderBody() <!-- Handle each AdminLTE page in a razor view -->
    @RenderSection("scripts", required: false)
