<ul class="sidebar-menu tree" data-widget="tree">
  <li class="header">MENU</li>

  <li><a href="/"><i class="fa fa-map"></i> <span>Rastrear agente</span></a></li>




  <li class="treeview">
            <a href="#">
              <i class="fa fa-plus-circle"></i> <span>Avisos</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/eventlocation/create"><i class="fa fa-circle-o"></i>Cadastrar</a></li>
              <li><a href="/eventlocation/index"><i class="fa fa-circle-o"></i>Pesquisar</a></li>
            </ul>
          </li>

            <li class="treeview">
            <a href="#">
              <i class="fa fa-object-group"></i> <span>Relatório</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="treeview">
                <a href="#"><i class="fa fa-circle-o"></i> Instituições
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><a href="/novo_pedido"><i class="fa fa-circle-o"></i> Taxa de acidentes</a></li>
                </ul>
              </li>

             <li><a href="/pedidos"><i class="fa fa-circle-o"></i>Pesquisar</a></li>

            </ul>
          </li>


<li><a href="/Help"><i class="fa fa-question"></i> <span>Ajuda</span></a></li>


  <li class="header">Etiquetas</li>
  <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Importante</span></a></li>
  <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Atenção</span></a></li>
  <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Informação</span></a></li>
</ul>


<script>

var url = window.location;


// for sidebar menu entirely but not cover treeview
$('ul.sidebar-menu a').filter(function() {
	 return this.href == url;
}).parent().addClass('active');

// for treeview
$('ul.treeview-menu a').filter(function() {
	 return this.href == url;
}).parentsUntil(".sidebar-menu > .treeview-menu").addClass('treeview active menu-open');

</script>
