@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;


 <li class="dropdown user user-menu">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
     <img src="~/images/user.png" class="user-image" alt="User Image">
     <span class="hidden-xs">@Html.Partial("~/Views/Shared/CurrentUser.cshtml") | Instituições: Todas</span>
   </a>
   <ul class="dropdown-menu">
     <!-- User image -->
     <li class="user-header">
       <img src="~/images/user.png" class="img-circle" alt="User Image">

       <p>
      @Html.Partial("~/Views/Shared/CurrentUser.cshtml")
      <small>Instituições: Todas</small>
       </p>
     </li>
     <!-- Menu Body -->
     <li class="user-body">
       <!-- /.row -->
     </li>
     <!-- Menu Footer-->
     <li class="user-footer">

 <div class="pull-right">

 @using(Html.BeginForm("Logout","Account"))
 {
 <input type="submit" value="Sair" class="btn btn-default btn-flat" />
 }

 </div>
 </li>


   </ul>
 </li>
