﻿@model IEnumerable<SimplexCardPortal.ViewModel.Order.OrderViewModel>


           <div class="box">
            <div class="box-header">
              <h3 class="box-title">Lista de Pedido(s)</h3>
            </div>


              <div class="box-body">
             <div class="table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Número</th>
                  <th>Operadora</th>
                  <th>Criado em</th>
                  <th>Classificação</th>
                  <th>Status</th>
                  <th>Criado por</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>

               @foreach (var item in Model)
               {
                  <tr>
                  <td> <a href="/pedido?OrderId=@item.OrderId">@item.Number</a> </td>
                  <td>@item.OperatorName</td>
                  <td>@item.CreatedOn</td>
                  <td> <span class="label label-primary">@item.TypeText</span></td>
                  <td> <span class="@item.StatusClass">@item.StatusText</span></td>
                  <td>@item.CreatedBy</td>
                  <td>

                  <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                        </button>
                        @{  var statusLabel = @item.Status == 2? "Ativar": "Desativar"; }
                        <ul class="dropdown-menu" id="@item.OrderId">
                          <li> <a href="/pedido?OrderId=@item.OrderId"> Visualizar </a></li>
                          <li><a href="#" class="showGame">Editar</a></li>      
                          <li><a href="Order/UpdateOrderStatus?orderid=@item.OrderId"> @statusLabel </a></li> 
                          <li><a target="_blank" href="@item.OperatorUrl"> Comprar </a></li> 
                        </ul>
                   </div>
                  
                  </td>
                  </tr>
               }

                </tbody>
                <tfoot>
                <tr>
                  <th>Número</th>
                  <th>Operadora</th>
                  <th>Criado em</th>
                  <th>Classificação</th>
                  <th>Status</th>
                  <th>Criado por</th>
                  <th>Ações</th>
                </tr>
                </tfoot>
              </table>
              </div>
</div> 
</div>







<script>


  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });


</script>