﻿@model SimplexCardPortal.ViewModel.Order.NewOrder
@{

var currentDateTime = string.Format("{0:yyyy-MM-dd}", DateTime.Now);

}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Control X Card | Novo Pedido</title>

</head>

<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">C<b>X</b>C</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Control<b> X</b> Card</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->


      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>


      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown tasks-menu">

            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          @Html.Partial("~/Views/Shared/UserOptions.cshtml")
          <!-- Control Sidebar Toggle Button -->

        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="~/images/user.png" class="img-circle" alt="User Image">
        </div>


        <div class="pull-left info">
          <p>@Html.Partial("~/Views/Shared/CurrentUser.cshtml")</p>

          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>


      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Pesquisar...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>

    @Html.Partial("~/Views/Shared/Menu.cshtml")

    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <section class="content-header">
      <h1> Novo pedido
        <small>Arquivo *.txt</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-list"></i> Pedido</a></li>
        <li class="">Novo</li>
		<li class="active">Arquivo *.txt</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
					
       <div style="padding-bottom: 1%">
            <button class="btn btn-info" id="balanceRequest"> Solicitar atualização de saldo </button>
       </div>

        <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Pedido</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <form action="/novo_pedido" method="post" class="form-horizontal" enctype="multipart/form-data">

              <div class="box-body">

								
                <div class="form-group">
                  <label for="File" class="col-sm-2 control-label">Arquivo*</label>
                  <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.File, new { type = "file", @class="form-control", @placeholder="Arquivo *.txt"})
                    @Html.ValidationMessageFor(m => m.File,null, new { @class = "text-danger" } )
                  </div>
                </div>  


								
                <div class="form-group">
                  <label for="operatorBranchId" class="col-sm-2 control-label">Operadora*</label>

                  <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.OperatorBranchId, Model.Operators, new{@class="form-control select2"})
					@Html.ValidationMessageFor(m => m.OperatorBranchId,null, new { @class = "text-danger" } )
                  </div>
                </div>

								
                  <div class="form-group">
                  <label for="Type" class="col-sm-2 control-label">Data do saldo na Operadora*</label>
                  <div class="col-sm-4">
                    <select class="form-control" id="OperatorDataLogId" name="OperatorDataLogId">
                     </select>
                    @Html.ValidationMessageFor(m => m.OperatorDataLogId,null, new { @class = "text-danger" } )
                  </div>
                </div>

                
              <div class="form-group">
                  <label for="Type" class="col-sm-2 control-label">Classificaçāo*</label>
                  <div class="col-sm-4">
				  @Html.DropDownListFor(m => m.Type, Model.Types, new { @class="form-control"})
					@Html.ValidationMessageFor(m => m.Type,null, new { @class = "text-danger" } )
                  </div>
                </div>


                <div class="form-group">
                  <label for="ChargeDate" class="col-sm-2 control-label">Data da carga*</label>
                  <div class="col-sm-4">
					@Html.TextBoxFor(m => m.ChargeDate, new{@class="form-control" ,type="date", @placeholder="Data da carga", @min= @currentDateTime})
					@Html.ValidationMessageFor(m => m.ChargeDate,null, new { @class = "text-danger" } )
                  </div>
                </div>

                <div class="form-group">
                  <label for="Note" class="col-sm-2 control-label">Observação</label>
                  <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @placeholder="Observação" })
					@Html.ValidationMessageFor(m => m.Note,null, new { @class = "text-danger" } )
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Salvar</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer no-print">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="http://simplexcard.com.br">Control X Card</a>.</strong> Todos os direitos reservados.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>


  <div class="control-sidebar-bg"></div>
</div>

 <script>

function GetOperatorDataLog(){

 var e = document.getElementById("OperatorBranchId");
 var operatorBranchId = e.options[e.selectedIndex].value; 

 document.getElementById("balanceRequest").disabled = false;
 document.getElementById("balanceRequest").setAttribute('class', 'btn btn-info');
 document.getElementById("balanceRequest").innerHTML ="Solicitar atualização de saldo - "+  e.options[e.selectedIndex].text+"";


var select = document.getElementById("OperatorDataLogId");
var length = select.options.length;
for (i = 0; i < length; i++) {
  select.options[i] = null;
}
            
         $.ajax({
                type: "GET",
			    dataType: 'json',
                url: "/OperatorDataLog/GetOperatorDataLog",
                data: param = {"operatorBranchId": operatorBranchId},
                contentType: "application/json; charset=utf-8",
                success: function(data){

                     $.each(data, function(index, item) {
                            $('#OperatorDataLogId').append($("<option></option>")
                           .attr("value",item.value)
                            .text(item.text)); 
                        })
                  }
            });
			
 }	

$(document).ready(function() {
	
  $(function () {
    $(".select2").select2();
   });

			
 $("#balanceRequest").click(function () { 

   this.className = "btn btn-success";
   this.innerHTML = "Atualização de saldo solicitada com sucesso!";
   this.disabled = true;


  var e = document.getElementById("OperatorBranchId");
  var operatorBranchId = e.options[e.selectedIndex].value; 


            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "/OperatorDataRequest/RequestOperatorData",
                data: param = {"operatorBranchId": operatorBranchId},
                contentType: "application/json; charset=utf-8",
                success: function(data){

                  }
            });



            
			
 });

			

GetOperatorDataLog();			

  

 $("#OperatorBranchId").change(function () { 

     
      GetOperatorDataLog();
			
 });

});
			
 </script>



</body>

</html>

