﻿@model List<SelectListItem>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Control X Card | Log in</title>
    

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


  <!-- Google Font -->
    
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo" style="margin-bottom: 0">
    <img src="~/images/logo.png" width="60%"/>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">


    @using(Html.BeginForm())
      {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

      <div class="form-group has-feedback">

			<div class="input-group">
                @Html.DropDownList("branchId", Model, "Selecione uma empresa", new{@class="form-control select2", @width="12%" })
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
              </div>
      </div>
      <div class="row">
        <!-- /.col -->
              <div class="box-footer">
                <input type="button"  class="btn btn-default" value="Sair" onclick="location.href='@Url.Action("Logout", "Account")'" />
                <button type="submit" class="btn btn-primary pull-right">Entrar</button>
              </div>
        <!-- /.col -->
      </div>

    }
        
  </div>
</div>


<script type="text/javascript" src="~/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/static/bower_components/jquery/dist/jquery.min.js"></script>


<script type="text/javascript">
  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();
    });
</script>

		
</body>
</html>
