@model IEnumerable<avisemeadm.Context.Model.ProfessionalLocation>

@{


}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>


<div id="map"></div>

<script>var map;
function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 09,
            center: new google.maps.LatLng(-19.894824, -43.950358),
            mapTypeId: 'roadmap'
        });


        var icons = {
                        14: {
                icon:  '~/../images/slu.png'
            },
                        13: {
                icon:  '~/../images/samu.png'
            },
                        12: {
                icon:  '~/../images/sufis.png'
            },
                        11: {
                icon:  '~/../images/supdc.png'
            },
                        1: {
                icon:  '~/../images/bptran.png'
            },
                        9: {
                icon:  '~/../images/gmbh.png'
            },
                        8: {
                icon:  '~/../images/bhtrans.png'
            },
                        7: {
                icon:  '~/../images/cbmmg.png'
            },
                        6: {
                icon:  '~/../images/cemig.png'
            },
                        5: {
                icon:  '~/../images/copasa.png'
            },
                        4: {
                icon:  '~/../images/gasmig.png'
            },
                        3: {
                icon:  '~/../images/cicop.png'
            },
                        2: {
                icon:  '~/../images/btn.png'
            },
                        10: {
                icon:  '~/../images/pcmg.png'
            }
        };
        


    var features = [];

    @foreach (var d in Model)
    {
        @:var answer = { position: new google.maps.LatLng("@d.Latitude", "@d.Longitude"),  type: '@d.ProfessionalType', telephone:  '@d.Telephone' , name:  '@d.Name', occupation:  '@d.Occupation' };
        // @:features.push("@d.Telephone");
        //{ position: new google.maps.LatLng(-33.91662347903106, 151.22879464019775),  type: 'parking' }
        @:features.push(answer);
    }

        features.forEach(function(feature) {
            var marker = new google.maps.Marker({

            position: feature.position,
            icon: icons[feature.type].icon,
            map: map

            });


       var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h3 id="firstHeading" class="firstHeading">Contato</h3>'+
            '<div id="bodyContent">'+
            '<p><b>Nome: </b>' + feature.name + '</p>'+
            '<p><b>Telefone: </b>' + feature.telephone + '</p>'+
            '<p><b>Cargo: </b>' + feature.occupation + '</p>'+
            '</div>'+
            '</div>';


        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });



        });



}</script>

 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyz5wRTyWj5_toZ9EwNy9weVgWVWAFjDs&callback=initMap">
</script>