﻿@model SimplexCardPortal.ViewModel.Account.LoginViewModel

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Aviseme ADM | Log in</title>
    

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


 <!-- Google Font -->
  	
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo" style="margin-bottom: 0">
    <img src="~/images/logo.png" width="60%"/>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Faça login para iniciar sua sessão</p>

    @using(Html.BeginForm())
      {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        	
	  <h5 class="text-success">@TempData["Message"]</h5>
      <div class="form-group has-feedback">
          @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email",@Type="Text", Value = "admin@aviseme.com.br" })
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
		@Html.TextBoxFor(m => m.Password,new{@type="Password", @class = "form-control",@placeholder="Senha", Value="admin"})
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>			
              @Html.CheckBoxFor(m => m.RememberMe) Permanecer conectado
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>

    }
    <a href="#">Esqueceu sua senha?</a><br>

  </div>
</div>


<script type="text/javascript" src="~/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/static/bower_components/jquery/dist/jquery.min.js"></script>


<script type="text/javascript">
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
