﻿@model SimplexCardPortal.ViewModel.Order.OrderItemViewModel

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Control X Card | Pedido(s)</title>



</head>

<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">C<b>X</b>C</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Control<b> X</b> Card</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->

      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown tasks-menu">

            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
  @Html.Partial("~/Views/Shared/UserOptions.cshtml")
          <!-- Control Sidebar Toggle Button -->

        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="~/images/user.png" class="img-circle" alt="User Image">
        </div>


        <div class="pull-left info">
          <p>@Html.Partial("~/Views/Shared/CurrentUser.cshtml")</p>

          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>


      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Pesquisar...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>

@Html.Partial("~/Views/Shared/Menu.cshtml")

    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <section class="content-header">
        <h1>
        Pedido
        <small>@Model.Number</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="pedidos"><i class="fa fa-list"></i>Pedido</a></li>
        <li class="active">@Model.Number</li>
      </ol>
    </section>

 <div id='gameModal' class='modal fade' data-url='@Url.Action("GetBranchOperator")'>
   <div id='gameContainer'>
   </div>
</div>

    <!-- Main content -->
<section class="content">

<div class="form-group">
 					
 </div>
        <div class="box">
         <div class="box-header">
        <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-usd"></i> Itens do Pedido (@Model.OrderStatus)  
              @{
              if(@Model.OrderStatusValue == (int)SimplexCardPortal.Enum.Order.Status.Pendente)
                 {
                    <a href="Order/ApproveOrder?orderid=@Model.OrderId" type="button" class="btn btn-success btn-sm"> Aprovar Pedido </a>
                 }


                 else if(@Model.OrderStatusValue == (int)SimplexCardPortal.Enum.Order.Status.Aprovado)
                 {
                    
                        <button type="button" class="btn btn-primary btn-sm"> Exportar Pedido </button>
                     
                 }

                 if(@Model.OrderStatusValue == (int)SimplexCardPortal.Enum.Order.Status.Desativado)
                 {
                       <a href="Order/UpdateOrderStatus?orderid=@Model.OrderId" type="button" class="btn btn-warning btn-sm"> Ativar Pedido </a>
                 }
                                        
                 else
                 {
                       <a href="Order/UpdateOrderStatus?orderid=@Model.OrderId" type="button" class="btn btn-danger btn-sm"> Desativar Pedido </a>
                 }
             }

                                        
           
                                        
            <small class="pull-right">Data: @Model.CreatedOn</small>
          </h2>
        </div>

      </div>
          <div class="row invoice-info">

                                
          <div class="col-sm-4 invoice-col">
          
          <form>
                                       
            Total economizado: <strong> @Model.TotalOrderWithEconomy  </strong> <br>
            Valor do pedido com economia: <strong> @Model.TotalEconomy </strong> <br>
            Valor do pedido solicitado: <strong> @Model.TotalRequested </strong> <br>
            Total de cartões solicitados: @Model.TotalCardsRequested<br>
			Total de cartões carregados (Ativos): @Model.TotalCardsLoaded <br>
          </form>
        </div>

        <div class="col-sm-4 invoice-col">
          <form>
            Operadora: <strong> @Model.OperatorName </strong><br>
            Data do saldo: @Model.BalanceDate<br>
            Data da carga: @Model.ChargeDate<br>
            Classificação: @Model.Type<br>
			Observação: @Model.Note<br>
          </form>
        </div>

        <div class="col-sm-4 invoice-col">
          <form>
            Número do pedido: @Model.Number <br>
            Total Ativo(s):  <strong> @Model.TotalActive </strong> <br>
            Total Pendente(s):  <strong> @Model.TotalPending </strong> <br>
            Total Desativado(s):  <strong> @Model.TotalDisabled </strong> <br>
          </form>
        </div>
        </div>
      </div>
  </div>      

                    
            <div class="box">
            <div class="box-body">
            <div class="table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Identificador</th>
                  <th>Nome</th>
                  <th>Cartão</th>
                  <th>Dias. Trab</th>
                  <th>Vl. Diário</th>
                  <th>Saldo</th>
                  <th>Dias. Trab. Economia</th>
                  <th>Solicitado</th>
                  <th>Vl. Pedido</th>
			      <th>% Economia</th>
                  <th>Status</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                @{
                  foreach (var item in Model.OrderItems){
                  <tr>
                 										
                  <td>@item.Identifier</td>
                  <td>@item.Name</td>
                  <td>@item.CardNumber</td>
                  <td>@item.WorkDays</td>
                  <td>@item.DailyValue</td>
                  <td>@item.Balance</td>
                  <td>@item.WorkDaysWithEconomy</td>
                  <td>@item.Requested</td>
                  <td>@item.Economy</td>
                  <td><span class="badge bg-light-blue">@item.EconomyPercentage %</span></td>
                  <td><span class="@item.StatusClass">@item.StatusText</span></td>
                  <td>

                  <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="#" class="showGame">Editar</a></li>
                            <li> <a href="atualizar?orderItemId=@item.OrderItemId"> @item.StatusOptionText </a></li>
                        </ul>
                   </div>

                  </td>
										
                  </tr>


                  } 
			    }

                </tbody>
                <tfoot>
                <tr>
                  <th>Identificador</th>
                  <th>Nome</th>
                  <th>Cartão</th>
                  <th>Dias. Trab</th>
                  <th>Vl. Diário</th>
                  <th>Saldo</th>
                  <th>Dias. Trab. Economia</th>
                  <th>Solicitado</th>
                  <th>Vl. Pedido</th>
                  <th>% Economia</th>
                 <th>Status</th>
                  <th>Ações</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
             
            </div><!-- /.box -->

 </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <footer class="main-footer no-print">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="http://simplexcard.com.br">Simplex Card</a>.</strong> Todos os direitos reservados.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>


  <div class="control-sidebar-bg"></div>

   </div>
  <!-- page script -->
<script>

$(document).ready(function() {
   $('.showGame').click(function() {

    var balanceProcessingId = $(this).closest('div').find('ul').attr('id')
     var url = '@Url.Action("GetBranchOperator", "Settings", new { operatorBranchId = "js-id" })'.replace("js-id", balanceProcessingId);

            $.get(url, function(data) {
            $('#gameContainer').html(data);

            $('#gameModal').modal('show');
        });
   });
});

  $(function () {

    $('#example1').DataTable({


    });
  });


$(function () {
 $(".select2").select2();
s})

</script>

</body>
</html>
